<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Shoe Shop - Homepage</title>
  <!-- add icon link -->
  <link rel="icon" href="image/logo.svg" type="image/x-icon">



  <link href="/css/styles.css" rel="stylesheet">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700&display=swap" rel="stylesheet">


  <!-- Custom styles for this template -->

</head>

<body>

  <nav>
    <div class="navbar">
      <ul>
        <li><a href="#"><img src="image/logo.svg" alt=""> </a> </li>
        <li class="middle">
          <a href="#new">New releases</a>
          <a href="#man">Man</a>
          <a href="#woman">Woman</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a>
        </li>
        <li class=account>
          <a href="#"><img src="image/account.svg" alt=""> </a>
          <a href="#"><img src="image/cart.svg" alt=""></a>
        </li>




      </ul>
    </div>
  </nav>


  <!-- MAIN SECTION -->
  <div class="commercial">
    <div class="main-row">
      <div class="column-text">
        <h1 class="title-main"><span>nike</span> air huarache</h1>
        <h2 class="desc-main">
          THE NIKE AIR HUARACHE KEEPS ALLURING AFTER MORE THAN TWO DECADES. </h2>
        <h3 class="price-main">950.00DHS</h3>
        <button class="main-btn" type="button">Add to cart</button>
      </div>
      <div class="column-image">
        <img src="image/nike-hiarache-main.png" alt="">
      </div>
    </div>
  </div>



  <div class="main">
    <h1 class="title-section"><a href="#new">NEW ARRIVALS</a></h1>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="mySlides">
      <div class="row-section">
        <div class="column first">
          <div class="image-product">
            <img src="image/nike-air-zoom-sup.png" style="width:85%">
          </div>
          <div class="info">
            <h2 href="#" class="title-product">NIKE AIR ZOOM SUPERREP</h2>
            <h2 href="#" class="price-product">989,00DHS</h2>
          </div>
        </div>

        <div class="column">
          <div class="image-product">
            <img href="#" src="image/nike-free-metcon.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NIKE FREE METCON</h2>
            <h2 href="#" class="price-product">912,00DHS</h2>
          </div>

        </div>
        <div class="column last">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/nike-air-zoom-pegasus.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NIKE AIR ZOOM 31</h2>
            <h2 href="#" class="price-product">912,00DHS</h2>
          </div>

        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="row-section">
        <div class="column first">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/adidas-ultraboost.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">ADIDAS ULTRABOOST 22</h2>
            <h2 href="#" class="price-product">1650,00DHS</h2>
          </div>

        </div>
        <div class="column">
          <div class="image-product">
            <img href="#" class="product-bg" src="image/bondi-7-wide.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">BONDI 7 WIDE</h2>
            <h2 href="#" class="price-product">16750,00DHS</h2>
          </div>

        </div>
        <div class="column last">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/mizuno-wave-rider.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">MIZUNO WAVE RIDER</h2>
            <h2 href="#" class="price-product">1200,00DHS</h2>
          </div>

        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="row-section">
        <div class="column first">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/nike-air-zoom-pegasu-31s.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NIKE AIR ZOOM 38</h2>
            <h2 href="#" class="price-product">912,00DHS</h2>
          </div>

        </div>
        <div class="column">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/new-balance-fresh.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NEW BALANCE FRESH</h2>
            <h2 href="#" class="price-product">1300,00DHS</h2>
          </div>

        </div>
        <div class="column last">
          <div href="#" class="image-product">
            <img class="product-bg" href="#" src="image/mizuno-wave-rider-25.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">MIZUNO WAVE RIDER 25</h2>
            <h2 href="#" class="price-product">1350,50DHS</h2>
          </div>

        </div>
      </div>

    </div>
  </div>



<div class="interactive">
  <img src="image/interactive-chat.png" alt="">

</div>

  <footer>
    <div class="logo-footer">
      <img class="logof" src="image/logo-white.svg" alt="">
      <img src="image/brand-name.png" alt="">
    </div>

    <div class="line"></div>

    <div class="content">
      <a class="footer-link" href="#new">NEW RELEASES</a>
      <a class="footer-link" href="#about">ABOUT</a>
      <a class="footer-link" href="#contact">CONTACT</a>
    </div>

  </footer>

  <script src="js/script.js"></script>

</body>

</html>
